@import "reset.less";
@import "mixins.less";
@import "fonts.less";
@import "appearance.less";
// Dimensions
@mainWidth: 90rem;
@headerHeight: 5rem;
@headerMargin: 1rem;

@sectionMargin: 2rem;

@introHeight: 50rem;
@introStartContent: 50%;
@introImageOffset: -10rem;

@attributesHeight: 60rem;
@attributesPadding: 2rem;
@attributesTitleWidth: 8em;
@attributeItemPadding: 0.5em 1em;
@attributeItemMargin: 0.5em 0;

@workHeight: 50rem;
@workPadding: 2rem 1rem;

@contactHeight: 20rem;
:root {
	font-size: @defaultFontSize;
}
body{
	background-color: @baseDarkColor;
}
.main-container{
	margin: 0 auto;
	min-height: 100vh;
	max-width: @mainWidth;
	font-size: @contentFontSize;
	font-family: @defaultFont;
	.flex-column(flex-start);
	a{
		text-decoration: none;
		color: @whiteColor;
	}
	header{
		height: @headerHeight;
		.flex-baseline(space-around);
		width:100%;
		background-color: @primaryColor;
		border-bottom-left-radius: @navCornerRadius;
		border-bottom-right-radius: @navCornerRadius;
		margin-bottom: @headerMargin;
		nav{
			.flex-baseline(space-between);
			flex-grow: 1;
			height: 100%;
			a{
				.flex-column(center);
				align-items: center;
				width:100%;
				height: 100%;
				border-bottom: @navBorder;

				&:last-child{
					border-right: @navBorder;
					border-bottom-right-radius: @navCornerRadius;
				}
				&:first-child{
					border-left: @navBorder;
					border-bottom-left-radius: @navCornerRadius;
				}

				&:hover{
					background-color: darken(@primaryColor, 20%);
				}
			}
			
		}
	}
	.rounded-box{
		background-color: @whiteColor;
		width:100%;
		height: 100%;
		.rounded-box-border(2rem);
	}
	section{
		margin: @sectionMargin 0;
		&.intro{
			width:100%;
			height: @introHeight;
			.rounded-box{
				.flex-centered(space-between);
				background-image: url("../images/aaron-2.png");
				background-position-x: @introImageOffset;
				background-repeat: no-repeat;

				.gradient{
					.flex-column(space-evenly);
					align-items: center;
					.rounded-box-border(2rem);
					width: inherit;
					height: inherit;
					background-image: linear-gradient(to right, fade(@whiteColor, 0%) 0, @whiteColor 80%);
					padding-left: @introStartContent;

					h1{
						font-size: 2em;
					}
					h2{
						font-size: 1.5em;
					}
					p{
						font-size:1em;
					}
				}
			}
		}

		&.attributes{
			width:100%;
			height:@attributesHeight;

			.rounded-box{
				.flex-centered(space-between);
				padding: @attributesPadding;
				h1{
					color:@primaryColor;
					width:@attributesTitleWidth;
					.title-underline-border(@primaryColor);
				}
				.hobbies{
					.flex-column(center);
					align-items: flex-end;
					text-align: right;
				}
			}
		}
		.attributes-container{
			.flex-column(center);
			span{
				font-size: 1em;
				background-color: @primaryColor;
				color: @whiteColor;
				padding: @attributeItemPadding;
				.rounded-item(@primaryColor, 1em);
				margin:@attributeItemMargin;
			}
		}

		&.work{
			width:100%;
			height: @workHeight;

			.table-container{
				padding:@workPadding;
				.flex-centered(space-between);
				width: 100%;
				
				table{
					width:45%;

					tr{
						width:100%;
						th,td{
							.table-border;
						}
						th{
							background-color:@baseColor;
							color:@whiteColor;
						}
						td{
							background-color:lighten(@baseColor, 80%);
							font-size: 0.8em;
						}
					}
				}
			}
		}
		&.contact{
			height:@contactHeight;
			margin-bottom: 0;
			.contact-box{
				background-color: @whiteColor;
				.rounded-box-border-top(2rem);
				width:100%;
				height:100%;
				padding: 2.5%;

				h1{
					font-size: 3rem;
					margin: 1rem auto;
					text-align: center;
				}
				h2{
					font-size: 2rem;
					margin: 0 auto;
					text-align: center;
				}
				a{
					color: black;
				}
				.contact-icon-holder{
					.flex-centered(space-around);
					margin: 2rem auto;
					font-size: 3rem;
					width:50%;

					a:hover{
						color: @primaryColor;
					}
				}
			}
		}
	}
}
